/* $Id: styles.css 132392 2013-09-30 13:48:37Z madhuri_k $
/css/0.1/screen/build/interactive/styles.css
(c)2006 - 2011 The New York Times Company  */

@import url(/css/0.1/screen/common/sectionfront.css);
@import url(/css/0.1/screen/interactive/common.css);
@import url(/css/0.1/screen/common/modules/twittertool.css); /* legacy */
@import url(/css/0.1/screen/common/modules/sharetools.css); /* legacy */
@import url(/css/0.1/screen/common/modules/sharetools/common.css);
@import url(/css/0.1/screen/common/modules/horizontalTools.css);
@import url(/css/0.1/screen/globalEdition/common.css);
@import url(/css/0.1/screen/common/forms.css);
@import url(/css/0.1/screen/common/modules/dialogbox.css);
@import url(/css/0.1/screen/community/comments/2.0/commentsModule.css);

ul.multiline li {
  margin-bottom: 8px;
}

/* horizontal article tools overrides */

.articleTools .box {
  border: none !important;
  z-index: 20001; /* opened sharetools menu must sit above document cloud */
}

.articleTools .toolsList {
  margin-right: 0;
  margin-top: 5px;
  _display: inline; /* for IE6 */
}

.articleTools .toolsList li {
  float: none;
  display: inline;
  border: none;
  margin: 0 17px 0 0;
  padding: 0;
}

.toolsList li a,
.toolsList li a:visited,
.toolsList li a:hover {
  display: inline;
}

.toolsList .email form {
  display: none;
} 

.articleTools .toolsList #shareMenu {
  margin: 0;
}

.articleTools .toolsList .email {
  margin: 0 16px 0 0;
  *margin-right: 0;
}

.articleTools #emailThis {
  padding: 0 0 0 17px;
}

.articleTools #shareMenu.opened {
  top: 0;
  right: 0;
}

#interactiveWideB #toolsList li.opened {
  left: 0;
}

.articleTools .toolsList .comments a {
  padding-left: 14px;
}

.interactive970ShareTools,
.interactive337ShareTools {
  float: right;
}

.interactive337ShareTools,
.interactive600ShareTools {
  margin: 10px 0;
}

.interactiveAB .commentsContainer,
.interactiveWideB .commentsContainer {
  border-bottom: 1px solid #ccc;
  clear: both;
  margin-top: 10px;
}

.interactiveABC .commentsContainer {
  margin-left: auto;
  margin-right: auto;
  width: 760px;
}

/* Added the rule to overide the masthead logo to be in center align as other pages */
#branding #nytIhtMastheadLogo img {
  margin-top: 8px;
}
