body, html {
	margin: 0;
}

.begin {
	margin: 50px auto;
	width: 250px;
	height: 250px;
	border-radius: 25px;
	background-color: beige;
}

.begin button {
	display: block;
	text-align: center;
	font-family: helvetica;
	font-size: 14px;
	border-radius: 5px;
	width: 100px;
	margin: 0 auto;
	color: #fff;
	background-color: #6496c8;
	border: none;
	float: left;
}

#yes, #yes1, #yes2 {
	margin-left: 20px;
	margin-right: 10px;
}

h2 {
	font-family: helvetica;
	color: #2b2b2b;
	padding: 50px 20px 50px 20px;
	text-align: center;
}

.question1 {
	display: none;
	margin: 50px auto;
	width: 250px;
	height: 250px;
	border-radius: 25px;
	background-color: turquoise;
}

.question1 button {
	display: block;
	text-align: center;
	font-family: helvetica;
	font-size: 14px;
	border-radius: 5px;
	width: 100px;
	margin: 0 auto;
	color: #fff;
	background-color: #6496c8;
	border: none;
	float: left;
}

.statement1 {
	display: none;
	margin: 50px auto;
	width: 250px;
	height: 250px;
	border-radius: 25px;
	background-color: coral;
}

.question2 {
	display: none;
	margin: 50px auto;
	width: 250px;
	height: 250px;
	border-radius: 25px;
	background-color: lightblue;
}

.question2 button {
	display: block;
	text-align: center;
	font-family: helvetica;
	font-size: 14px;
	border-radius: 5px;
	width: 100px;
	margin: 0 auto;
	color: #fff;
	background-color: #6496c8;
	border: none;
	float: left;
}

.statement2 {
	display: none;
	margin: 50px auto;
	width: 250px;
	height: 250px;
	border-radius: 25px;
	background-color: lavender;
}

.end {
	display: none;
	margin: 50px auto;
	width: 250px;
	height: 250px;
	border-radius: 25px;
	background-color: grey;
}

.statement3 {
	display: none;
	margin: 50px auto;
	width: 250px;
	height: 250px;
	border-radius: 25px;
	background-color: lightgreen;
}

.top {
	position: fixed;/*
	text-decoration: none;
	text-align: center;
	color: black;*/
	bottom: 0;
	right: 0;
	margin: 0 auto;
/*	padding: 2px;
	width: 50px;
	height: 20px;
	border: 2px solid black;*/
}